.intro {
  background-image: url(../../img/intro__bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro__title {
  color: var(--color-text-white-small);

  font-size: clamp(4px, 7vw, var(--font-size-h1));
  text-transform: uppercase;

  font-weight: 700;
  line-height: 150%;

  margin-top: 300px;
  margin-right: 14px;
}

.intro__btn {
  margin-top: 32px;
}

.intro__program--loc,
.intro__program--data,
.intro__program--part {
  display: none;
  position: relative;
  overflow: visible !important;
}

.travel-choice-menu,
.travel-participants-menu {
  display: none;
  position: absolute;
}

#travel-choice-btn,
#travel-participants-btn {
  background: none;
  border: 1px solid var(--color-bg-white);
  border-radius: 10px;

  padding: 15px;

  color: var(--color-bg-white);

  width: 100%;
  text-align: left;
  font-weight: 700;

  position: relative;
}

#travel-choice-btn::after,
#travel-participants-btn::after {
  content: "❯";
  display: block;
  position: absolute;
  top: 23%;
  right: 15px;
  font-size: 20px;
  transform-origin: center center;
  transition: all 0.2s linear;
}

#travel-choice-btn:hover:after,
#travel-participants-btn:hover::after {
  transform: rotate(90deg);
}
#travel-choice-btn.active,
#travel-participants-btn.active {
  outline: none;
  border-radius: 10px 10px 0 0;
  background-color: var(--color-bg-white);
  color: var(--color-bg-green);
}
#travel-choice-btn.active:after,
#travel-participants-btn.active::after {
  transform: rotate(90deg);
}

.travel-choice-menu,
.travel-participants-menu {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.travel-choice-item,
.travel-participants-item {
  padding: 10px 20px;
  background-color: var(--color-bg-white);
  color: var(--color-bg-green);
}

.travel-choice-item:hover,
.travel-choice-item:focus,
.travel-participants-item:hover,
.travel-participants-item:focus {
  outline: none;
  background-color: var(--color-bg-green);
  color: var(--color-bg-white);
}

@media (min-width: 768px) {
  .intro .container {
    padding: 1px 16px 82px 16px;
  }

  .intro__title {
    width: 100%;
    max-width: 1080px;

    font-size: var(--font-size-h1-desktop);
    margin-bottom: 41px;
    margin-top: clamp(300px, 39vw, 500px);
  }
  .intro__program {
    width: 100%;

    padding: 40px 42px;
    background-color: rgb(from var(--color-bg-white) r g b / 0.2);
    backdrop-filter: blur(6px);
    border-radius: 10px;
  }

  .intro__program {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .intro__btn {
    margin-top: 0;
  }

  .intro__program--loc,
  .intro__program--data,
  .intro__program--part {
    display: block;
    flex: 1;

    color: var(--color-text-white-small);
  }

  .intro__program--label {
    display: block;

    margin-top: 8px;
    font-size: var(--font-size-small);
    line-height: 150%;
  }
}
