.travel__slider {
  margin: 32px 0;
}

.travel__btn {
  display: flex;
  justify-content: center;
}

@media (min-width: 1100px) {
  .travel .container {
    padding: 80px 16px 100px 16px;
  }

  .travel .splide__list {
    display: flex !important;
    justify-content: center;
    gap: 20px;
    transform: none !important;

    margin: 50px 0 !important;
  }

  .travel .splide__slide {
    width: 30% !important;
    height: auto !important;
    aspect-ratio: 0.76/1 !important;
    margin: 0 !important;
    flex-shrink: 0;
  }

  .travel .splide__track {
    overflow: visible !important;
  }
  .travel .travel__slide--subtitle {
    display: inline-block;
  }

  .travel__header {
    text-align: center;
  }

  .travel__slide--content {
    padding: 30px 32px 20px 32px;
  }

  .travel__slide--h3 {
    font-size: var(--font-size-h2);
  }

  .travel .travel__slide--header {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .travel__slide--content {
    top: calc(100% - 105px);
  }

  .travel__slide--text {
    font-size: var(--font-size);
  }
}
